*{
    margin: 0;
    padding: 0;
}
.nav{
    max-width: 1400px;
    /* border: 2px solid red; */
    height: 60px;
    display: flex;
    background-color: white;
    margin: auto;
    position: fixed;
    z-index: 999;
    font-family: sans-serif;
}
.nav1{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    margin: auto;
    width: 350px;
    margin-left: 50px;
    margin-right: 40px;
}
.fa-linkedin{
    color: rgb(40, 40, 184);
    font-size: 40px;
    padding: 2px px;
    height: 10px;
    margin-top: 10px;
}
/* .fa-magnifying-glass{
    margin: auto;
    padding: 10px 15px;
    margin-left: 10px;
} */
.search{
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.329);
    border: none;   
    margin-top: 10px;
    margin-left: -100px;
}
.nav2{
    width: 400px;
    height: 55px;
    /* border: 2px solid yellow; */
    border-right: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-right: 10px; */
    padding: 0px 10px;
}
.logo{
    margin: auto;
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: black;
    font-size: x-large;
    margin-top: 10px;
}
.logoName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}
.list{  
    margin: auto;
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: black;
    margin-top: 10px;
    list-style: none;
    
}
.nav3{
    width: 300px;
    height: 55px;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 10px;
}
.businessIcon{
    margin: auto;
    height: 30px;
    /* display: flex; */
    justify-content: space-between;
    flex-direction: row;
    color: black;
    font-size: x-large;
    margin-top: 5px;
}
.fa-ellipsis-v{
    margin-left: 2px;
}
.fa-money-bill{
    margin-left: 100px;
}
.businessName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list1{
    margin: auto;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: black;
    font-size: small;
    margin-top: 5px;
    list-style: none;
    text-align: center;
}
.business{
    margin-right: 40px;
    margin-left: 20px;
}
.premium{
    /* margin-right: 60px; */
}
.main{
    max-width: 1400px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border: 2px solid rgba(128, 128, 128, 0.514);
    font-family: sans-serif;
    /* background-color: rgba(226, 211, 211, 0.404); */
}
.left{
    border: 2px;
    height: 400px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    box-shadow: 1px 1px 2px 1px;
    top: 10%;
    left: 4%;
}
.head1{
    height: 70px;
    /* width: 250px; */
    margin: auto;
    /* border: 2px solid black; */
    background-color: rgb(128, 128, 128);
    border-radius: 10px;
}
.img{
    border-radius: 100%;
    height: 90px;
    width: 90px;
    margin-top: 20px;
    margin-left: 80px;
    border: 5px solid white;
}
.hd{
    text-align: center;
    margin-bottom: 30px
}
.conn{
    margin-top: 15px;
    margin-left: 15px;
    color: gray;
    margin-bottom: 5px;
}
.net{
    /* color: gray; */
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: -20px;
}
.fa-user-plus{
    margin-left: 200px;
}
.fa-money-check{
    margin-left: 15px;
}
.try{
    margin-top: -20px;
    margin-left: 35px;
    margin-bottom: 30px;
}
.fa-bookmark{
    margin-left: 20px;
    margin-top: 15px;
}
.saved{
    margin-top: -20px;
    margin-left: 45px;
}
.midSection{
    margin: auto;
    border: 2px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    margin-top: 7%;
    /* z-index: -1; */
}
.creatingPost{
    margin: auto;
    border: 2px solid white;
    height: 100px;
    width: 600px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 2px 1px;
    cursor: pointer;
}
.logo1{
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    border: 3px solid white;
    margin-top: -30px;
}
.searchInput{
    flex: 1;
    width: 160px;
    border: 2px solid;
    box-shadow: 1px 1px 1px 1px; 
    margin-bottom: -150px;
    margin-top: 10px;
    margin-left: 60px;
    padding: 15px 180px;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
}
.itemList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2px;
    color: blue;
}
.fa-photo-film{
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
    color: burlywood;
}
.fa-calendar-days{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    color: orangered;
    margin-left: -25px;
}
.fa-newspaper{
    display: flex;
    justify-content: space-around;
}
.itemList1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.list2{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: 7px;
}
.line{
    margin-top: 20px;
    margin-bottom: 20px;
}
.suggest{
    color: grey;
    margin-top: 8px;
    margin-left: 10px;
}
#fa-ellipsis{
    margin-left: 470px;
    color: black;
    margin-bottom: 15px;
}
.img{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-left: 15px;
}
.web{
    display: block;
    margin-top: -50px;
    margin-left: 80px;
}
span{
    color: grey;
}
.para{
    margin-left: 15px;
    margin-top: 15px;
}
.webpic{
    background-image: url(web\ pic.gif);
    height: 250px;
    width: 595px;
    box-shadow: 1px 1px 1px 1px;
    margin-bottom: 6px;
}
.comment{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
}

.post1{
    margin-top: 50px;
    border: 2px solid white;
    height: 600px;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.post2{
    border: 2px solid white;
    height: 600px;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.post3{
    border: 2px solid white;
    height: 600px;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.post4{
    border: 2px solid white;
    height: 600px;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.post5{
    border: 2px solid white;
    height: 600px;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.right{
     border: 2px;
    /* margin-top: 400px; */
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    box-shadow: 1px 1px 2px 1px;
    top: 10%;
    right: 4%;
}
.ad{
    margin-left: 210px;
    font-size: large;

}
.hd2{
    text-align: center;
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 10px;
}
.pic{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-left: 40px;
}
#link{
    margin-top: -35px;
    margin-left: 40px;
}
.hj{
    text-align: center;
    margin-bottom: 10px;
}
.learnMore{
    padding: 5px 15px;
    border-radius: 15px;
    color: blue;
    border: 2px solid blue;
    margin-left: 80px;
}
